@charset "utf-8";
@font-face {
    font-family: "nsfont";
    src: url("./font/NanumSquareEB.eot?#iefix") format("ebedded-opentype"),
        url("./font/NanumSquareEB.woff") format("woff"),
        url("./font/NanumSquareEB.otf") format("opentype"),
/*        url("./font/NanumSquareEB.ttf") format("truetype");*/
    font-weight:normal;
    font-style:normal;
}