@charset "utf-8";


* { margin: 0; padding: 0; }
body, html { width: 100%; height: 100%; font-family: 'Noto Sans KR', sans-serif; background-color: #222; }
ul { list-style: none; }
label, inpit, button { outline: 0; border: 0; background-color: transparent; user-select: none; } /* user-select: none; 드래그해서 범위설정 못하게 */
a { text-decoration: none; }
img { border: 0; } /* a태그에 이미지를 넣었을 때 낮은 브라우저에서 생기는 테두리 없애기 */
.container { width: 100%; height: 100%; }
.page{ width: 100%; height: 100%; position: relative; clear: both; background-repeat: no-repeat; background-position: center center; background-size: cover; }
.page_tit { color: #fff; font-size: 3em; position: absolute; bottom: 20%; left: 10%; }
.more { display: block; color: #fff; font-size: 1.2em; position: absolute; bottom: 13%; left: 10%; }
.plus { display: block; width: 25px; height: 25px; float: right; margin-left: 15px; background-image: url("./img/btn_more.png"); background-repeat: no-repeat; background-position: center center; background-size: cover; box-shadow: 1px 1px 5px #999;  border-radius: 35px; }
#page1 {background-image: url("./img/pc_vis_1.jpg"); }
#page2 {background-image: url("./img/pc_vis_2.jpg"); }
#page3 {background-image: url("./img/pc_vis_3.jpg"); }
#page4 {background-image: url("./img/pc_vis_4.jpg"); }

.next_page { position: absolute; z-index: 90; bottom: 5%; left:calc(90% - 15px); display:block; width:30px; height:72px; background-image:url("./img/next.png"); background-size:cover; background-repeat:no-repeat; cursor:pointer; } 
#page5 .next_page { transform:rotate(180deg); } 

.hd { position: fixed; width: 100%; z-index: 90; top: 0; left: 0; background-color: transparent; height: auto; }
.hd.on { background-color: rgba(255,255,255,.5); height: 18px; }
.logo { position: absolute; top: 2em; left: 2em; display: block; width: 80px; height: auto; }
.logo img { display: block; width: 100%; height: auto; }
.menu_call { position: absolute; right: 3%; top: 1.5em; display: block; }
.menu_call img { display: block; width: 50px; height: auto; }



.fnb { padding-top: 15em; }
.fnb li { line-height: 2.4em; padding: 10px; margin: 0 auto; width: 90%; position:  relative; }
.fnb li a { display: block; color: #fff; }

.fnb li a.ad:after { content:"+"; display: block; width: 24px; height: 24px; position: absolute; top: 10px; right: 0;}
.fnb li .sub { display: none;}
.fnb li a.ad.on:after { content: "-"; }

.bd { display: block; width: 90%; height: 3px; background: #fff; margin: 10px auto; }
.ft_logo { display: block; width: 150px; height: auto; margin-top: 20px; margin-left: 5%; }
.ft_logo img{ display: block; width: 100%; }
.copy { color: #fff; font-size: 0.85em; padding: 5%; line-height: 1.8; }


.gnb { position:fixed; top:0; left:105%; z-index:999; width:100%; overflow-y:scroll; overflow-x:hidden; background:#fff; padding-bottom:100px; min-height:100%; transition:0.6s; }
.gnb.on { left:0; }    
.col_logo { display:block; position:absolute; left:5%; top:3%; width: 70px; height:auto; }    
.col_logo img { display:block; width:100%; height:auto; } 
.close_btn { display:block; position:absolute; right:5%; top:3%; 
    width:30px; height:30px; }    
.close_btn img { display:block; width:100%; height:auto; }    
.wd_box { clear:both; position: absolute; top: 15%; right: 15%; text-align: center; } 
.wd_fr li {  width:80px; height:80px; border-radius:42px; margin:20px; font-size:0.8em; color:#fff; text-align:center; } 
.wd_fr li span { display:block; padding-top:15px;  }
.wd_fr li.item1 { background: #fce479; /* Old browsers */
background: -moz-linear-gradient(top, #fce479 0%, #f49222 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fce479 0%,#f49222 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fce479 0%,#f49222 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce479', endColorstr='#f49222',GradientType=0 ); /* IE6-9 */ }    
.wd_fr li.item2 { background: #fac695; /* Old browsers */
background: -moz-linear-gradient(top, #fac695 0%, #f5ab66 47%, #ef8d31 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=0 ); /* IE6-9 */ }

.colmenu { clear:both; position: absolute; top:20%; left: 5%; }
.colmenu .split { font-size: 1.25em; line-height:1.3; }
.colmenu li { padding-left:10%; padding-top:15px; color:#000; display: block; width: 100px;} 
.colmenu li a { display:block; color:#888; font-size:1em; line-height:1; padding-left: 1em; }   




















